<!DOCTYPE html>
<html lang="en-US">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content ="width=device-width, initial-scale=1.0">
		
		<title>Route Picking Tool</title>
	</head>
	<body>
	
		<h1> Flight Generation Route Generation</h1>
		
		
		<div id="navbar"></div>
		<p>Welcome to the flight simulation route generation tool. </p>
		<p>This tool generates multi-flight journeys between the departure and arrival airports by two criteria.</p>
		<p>Airlines Routes generates a journey using real-world airline routes. It takes the source and destination airports as inputs, as well as available aircraft types.</p>
		<p>Routes by Range generats the shortest journey based on the input criteria. This takes the source and destination airports as inputs, as well as maximum aircraft range and the minimum runway length.</p>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
			$('#navbar').load('navbar.html');
	</script>
</html>