<!DOCTYPE html>
<html lange="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content ="width=device-width, initial-scale=1.0">
		
	</head>
	<body>
		<p>Route Generator by Range</p>
		<div id="navbar"></div>
		<form id="update">
			<label for="dep">Departure:</label>
			<input type="text" id="dep" name="dep">
			<label for="arr">Arrival:</label>
			<input type="text" id="arr" name="arr">
			<label for="range">Max. Range (nmi):</label>
			<input type="number" id="range" name="range" min="0">
			<label for="rwy">Min. Runway (ft):</label>
			<input type="number" id="rwy" name="rwy" min="0" value="5000">
			
		</form>
		<button id="submission" onclick="submission()">Search</button>
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$('#navbar').load('navbar.html');
	</script>
	<script>
		async function submission() {
			const form = document.getElementById("update");
			const data = {
				"dep": form[0].value,
				"arr": form[1].value,
				"range": form[2].value,
				"rwy":form[3].value
			};
			const param = {
				headers: {
					'Content-Type':'text/plain'
				},
				method:"POST",
				body:JSON.stringify(data)
			}
			console.log(data)
			fetch("/range", param)
			.then(function(response) {
				return response.json();
			}).then(function(body) {
				redraw(body);
			});
		}
		
		function redraw(data){
			for(let i = 0; i < data.length; i++){
				console.log(i);
				console.log(data[0]);
			}
		}
	</script>
</html>
