#update{
  display:inline-block;
}

#input{
  display:inline;
}

#loading{
  display:none;
}
#noResult{
  display:none;
}

.dropButton {
	/*background-color: #4CAF50;*/
	/*color: white;*/
	/*padding: 16px;*/
	/*font-size: 16px;*/
	/*border: none;*/
	cursor: pointer;
  /*position:absolute;
  left:500px;*/
}

.dropButton:hover, .dropButton:focus {
  background-color: #3e8e41;
}

#fleetInput {
  box-sizing: border-box;
  /*background-image: url('searchicon.png');*/
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  /*padding: 14px 20px 12px 45px;*/
  border: none;
  border-bottom: 1px solid #ddd;
}

#fleetInput:focus {
	outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.fleetDropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropOption{
  color: black;
  padding: 0px 16px;
  text-decoration: none;
}

.dropOption:hover{
  background-color: #bbbbbb;
}

.fleetDiv {
  border: 1px solid black;
}
.fleetDiv:hover {
  background:#dddddd;
}


.show {display:block;}

.dropdown-content input:hover {background-color: #f1f1f1}

#output {
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 800px;
	border: 3px solid #555555;
}

#sidebar {
	visibility: inherit;
	position: absolute;
	top: 0px;
	left: 0;
	width: 6em;
	height: 100%;
	border: 3px solid #AAAAAA;
}

#sidebar h4 {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-weight:bold;
}

#sidebar input{
	margin-left: 1em;
}

#result{
	visibility: inherit;
	position: absolute;
	top: 0px;
	left: 8em;
	width: 66%;
	height:100%;
	border: 3px solid #BBBBBB;
}

#result table{
	width: 100%;	
	border: 3px solid #222222;
}
#result table tr th{
	border: 1px solid #333333;
}

#tableHead {
	font-size: 18px;
}

.tableRow th {
	font-weight: lighter;
}

#Departure {
	width: 15em;
}

#Arrival {
	width: 15em;
}
#Airline{
	width:8em;
}
#Airplane{
	width:8em;
}
#Distance {
	width: 4em;
}

#weather {
	visibility: inherit;
	position: absolute;
	top: 0px;
	right: 0;
	width: 25%;
	height: 100%;
	border: 3px solid #CCCCCC;
}